<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy prowadzący</title>
</head>
<body>
<h2>Podaj dane prowadzącego</h2>

<form method="post" th:action="@{/admin/save_host}" th:object="${emptyUser}">

    <label>
        Nazwa użytkownika:
        <input type="text" th:field="*{username}">
    </label>

    <label>
        Hasło tymczasowe:
        <input type="password" th:field="*{password}">
    </label>

    <label>
        Imię:
        <input type="text" th:field="*{name}">
    </label>

    <label>
        Nazwisko:
        <input type="text" th:field="*{surname}">
    </label>

    <button type="submit">Dodaj</button>

</form>

</body>
</html>