<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel administratora</title>
</head>
<body>
<h1>Panel administratora</h1>
<p><a th:href="@{/admin/hosts}">Lista prowadzących</a></p>
<p><a th:href="@{/admin/add_host}">Dodaj nowego prowadzącego</a></p>
<p><a th:href="@{/admin/courses}">Lista wszystkich kursów</a></p>
<p><a th:href="@{/admin/add_course}">Dodaj nowy kurs</a></p>
<p><a th:href="@{/admin/class_blocks}">Lista bloków zajęciowych</a></p>
<p><a th:href="@{/admin/add_class_block}">Dodaj nowy blok zajęciowy</a></p>
<p><a th:href="@{/admin/enrollments}">Zgłoszenia do kursów</a></p>
</body>
</html>